<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about 컴포넌트</title>
    <link rel="shortcut icon" href="/public/favicon/likelion.ico" type="image/x-icon" />
    <link rel="icon" href="/public/favicon/likelion.svg" type="image/svg" />
    <link rel="preload" as="font" href="/public/font/suit/SUIT-Variable.woff2" />
    <link rel="stylesheet" href="/public/font/suit/SUIT-Variable.css" />
    <link rel="stylesheet" href="/src/common/index.css" />
    <link rel="stylesheet" href="./src/style.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <a href="/index.html">Index로 이동</a>

    <div class="px-6 py-10 tablet:px-8 tablet:py-14 tablet:items-start desktop:px-16 desktop:py-16 desktop:items-start">
      <div class="flex flex-col gap-9 tablet:flex-row tablet:gap-9 desktop:flex-row desktop:gap-9 desktop:justify-center">
        <div class="flex flex-col gap-3 tablet:flex-low tablet:gap-9 tablet:flex-low desktop:gap-9">
          <img class="w-6 h-6 flex-1" src="../assets/Box.svg" alt="" />

          <h1 class="text-primary text-xl font-bold flex-1">회사소개</h1>

          <p class="text-base font-medium flex-1">UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 대해 알아보세요.</p>
          <a class="font-semibold underline underline-offset-[6px] flex-1" href="">자세히보기</a>
        </div>

        <div class="flex flex-col gap-3 tablet:flex-low tablet:gap-9">
          <img class="w-6 h-6 flex-1" src="../assets/Paper.svg" alt="" />
          <h1 class="text-primary text-xl font-bold flex-1">뉴스룸</h1>
          <p class="text-base font-medium flex-1">UT의 회사 연혁과 핵심 가치 및 UT가 창출하는 다양한 기회에 대해 알아보세요.</p>
          <a class="font-semibold underline underline-offset-[6px] flex-1" href="">자세히보기</a>
        </div>
      </div>
    </div>
  </body>
</html>
