<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header & download</title>
    <link rel="shortcut icon" href="/favicon/likelion.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon/likelion.svg" type="image/svg+xml" />
    <link rel="preload" as="font" href="/font/suit/SUIT-Variable.woff2" />
    <link rel="stylesheet" href="/font/suit/SUIT-Variable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <section class="bg-tertiary flex flex-col py-[40px] gap-[36px] desktop:py-[64px]" aria-labelledby="download-title-1">
      <h2 id="download-title-1" class="sr-only">UT 앱 다운로드</h2>
      <p class="text-[1rem] mo:text-[21.3px] pc:text-[37.9px] leading-[1.4] p-[1rem] font-semibold desktop:w-[1280px] desktop:mx-auto desktop:px-[24px]">UT 앱에서 더욱 다양한 기능을 만나보세요</p>
      <ul class="flex flex-col gap-[36px] desktop:flex-row desktop:w-[1280px] desktop:mx-auto px-[24px]">
        <li class="flex-1 basis-0 min-w-0">
          <a href="#" class="flex items-center justify-between bg-secondary p-[1rem] desktop:p-[44px]" aria-label="승객 앱 다운로드">
            <div class="flex items-center">
              <img src="/public/images/download-logo.svg" alt="UT" class="w-[76px] h-[76px] mo:w-[104px] mo:h-[104px] me-[24px] mo:me-[36px]" />
              <span class="text-[1rem] mo:text-[21.3px] leading-[1.5] font-semibold">승객 앱 다운로드</span>
            </div>
            <img src="/src/assets/vector_9.svg" class="w-[32px] mo:w-[56px] h-[32px] mo:h-[56px] mo:px-[10px] mo:py-[14px]" alt="앱 다운로드 받기" />
          </a>
        </li>
        <li class="flex-1 basis-0 min-w-0">
          <a href="#" class="flex items-center justify-between bg-secondary p-[1rem] desktop:p-[44px]" aria-label="기사 앱 다운로드">
            <div class="flex items-center">
              <img src="/public/images/download-logo.svg" alt="UT" class="w-[76px] h-[76px] mo:w-[104px] mo:h-[104px] me-[24px] mo:me-[36px]" />
              <span class="text-[1rem] mo:text-[21.3px] leading-[1.5] font-semibold">기사 앱 다운로드</span>
            </div>
            <img src="/src/assets/vector_9.svg" class="w-[32px] mo:w-[56px] h-[32px] mo:h-[56px] mo:px-[10px] mo:py-[14px]" alt="" aria-hidden="true" />
          </a>
        </li>
      </ul>
    </section>
  </body>
</html>
