<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer component</title>
    <link rel="preload" as="font" href="../../public/font/woff2/PretendardVariable.woff2" />
    <link rel="stylesheet" href="../../public/font/pretendardvariable.css" />
    <script type="module" src="../main.js"></script>
  </head>
  <body class="">
    <div class="bg-primary flex py-10 px-6 tablet:py-14 tablet:px-8 desktop:justify-center desktop:p-16">
      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-7">
          <img class="w-9" src="../assets/Logo.png" alt="" />
          <span class="text-secondary"><a href="https://www.naver.com/" target="_blank">고객지원 센터로 가기</a></span>
        </div>
        <ul class="flex justify-between text-secondary desktop:justify-normal desktop:gap-50">
          <li class="">
            <span class="text-xl font-semibold">기업 정보</span>
            <ul class="mt-5 flex flex-col gap-4">
              <li>회사 소개</li>
              <li>뉴스룸</li>
              <li>블로그</li>
              <li>비즈니스 정보</li>
            </ul>
          </li>
          <li>
            <span class="text-xl font-semibold">상품</span>
            <ul class="mt-5 flex flex-col gap-4">
              <li>차량 서비스</li>
              <li>운행</li>
            </ul>
          </li>
          <li>
            <span class="text-xl font-semibold">글로벌 시민 의식</span>
            <ul class="mt-5 flex flex-col gap-4">
              <li>안전</li>
            </ul>
          </li>
        </ul>
        <div class="flex flex-col gap-9">
          <div class="desktop:flex flex-row justify-between">
            <div class="flex flex-col gap-9 tablet:flex-row tablet:justify-between desktop:justify-normal desktop:gap-30">
              <div class="flex justify-between w-72 items-center">
                <a href="www.facebook.com"><img class="w-4 h-4" src="../assets/Facebook.svg" alt="Facebook" /></a>
                <a href="www.youtube.com"><img class="w-4 h-4" src="../assets/Youtube.svg" alt="Youtube" /></a>
                <a href="www.instagram.com"><img class="w-4 h-4" src="../assets/Instagram.svg" alt="Instagram" /></a>
              </div>
              <div class="text-secondary flex gap-12 items-center">
                <div class="flex gap-1">
                  <img class="w-6 h-6" src="../assets/World.svg" alt="" />
                  <span class="whitespace-nowrap">한국어</span>
                </div>
                <div class="flex gap-1">
                  <img class="w-6 h-6" src="../assets/Pin.svg" alt="" />
                  <span class="whitespace-nowrap">서울</span>
                </div>
              </div>
            </div>
            <div class="flex gap-4 mt-9 desktop:mt-0">
              <button type="button">
                <img src="../assets/GooglePlay.png" alt="Google Play" />
              </button>
              <button type="button">
                <img src="../assets/AppStore.png" alt="App Store" />
              </button>
            </div>
          </div>
          <div class="text-contentTertiary text-xs flex flex-col gap-9 desktop:flex-row desktop:justify-between">
            <div class="flex flex-row gap-9 desktop:gap-40">
              <span class="text-nowrap self-center">© 2022 UT LLC</span>
              <span class="">법인명: UT LLC | 사업자 등록 번호: 166-86-02049 | 회사 대표번호: 080-800-5555 | 대표: White Thomas Darcy | 회사 주소: 서울특별시 중구 삼일대로 343 | 통신판매번호: 2021-서울중구-0976</span>
            </div>
            <div class="flex gap-8">
              <span>개인정보 보호</span>
              <span>약관</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
